/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #EFE9D5; /* color de fondo */
    margin: 0;
    padding: 0;
}

header {
    background-color: #497D74; /* color de fondo */
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

/* Contenedor principal */
.producto-container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background: #497D74;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Contenido del producto */
.producto-content {
    display: flex;
    flex-direction: column;  /* Cambiar a columna para que las imágenes estén arriba */
    gap: 20px;
}

/* Contenedor de imágenes */
.producto-imagenes {
    display: flex; /* Aseguramos que las imágenes se alineen en fila */
    justify-content: space-between; /* Para que haya espacio entre ellas */
    gap: 10px;
}

.imagen-container {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen-container  {
    width: 250px;
    height: 200px; /* Se ajusta la altura */
    object-fit: cover;
    transition: transform 0.3s;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto; /* Centra las imágenes horizontalmente */
}

.imagen-container:hover img {
    transform: scale(1.05);
}

/* Contenedor de detalles */
.producto-detalles {
    background: #EFE9D5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título del producto */
.producto-titulo {
    font-size: 24px;
    font-weight: bold;
    color: #497D74;
    margin-bottom: 15px;
}

/* Precio */
.precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.price {
    color: red;
}

.precio-destacado {
    background-color: #FF204E;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
}

/* Características del producto */
.producto-detalles ul {
    list-style: none;
    padding: 0;
}

.producto-detalles li {
    margin: 10px 0;
    font-size: 16px;
}

.producto-detalles strong {
    color: #497D74;
}

/* Botones */
.botones {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.comprar-btn,
.agregar-btn {
    background-color: #497D74;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comprar-btn:hover,
.agregar-btn:hover {
    background-color: #FF204E;
}
